@import "./styles/animations.css";
@import "./styles/formulario.css";
@import "./styles/busca.css";
@import "./styles/corpo-lista-tarefas.css";
@import "./styles/card-tarefa.css";

.no-tasks {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

h2 {
  font-size: 32px;
  margin-right: 88px;
  margin-left: 40px;
}

button {
  border-style: solid;
  border-color: rgb(175, 193, 207);
  background-color: rgba(245, 245, 245, 0.871);
  border-radius: 8px;
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 16px;
  border: none;
  width: max-content;
}

.botao-criar {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.botao-criar button {
  background: #263238;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Prompt";
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  line-height: 24px;
}

input {
  font-weight: 400;
}

input::placeholder {
  color: #000000;
}

select:focus,
input:focus {
  outline: 0;
}

option:disabled {
  color: #6c757d;
}

.ng-template {
  text-align: center;
  margin-top: 0;
}

@media (max-width: 890px) {
  .ilustracao {
    display: flex;
    flex-direction: column;
  }

  .ilustracao h2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  .info-card {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-left: 0;
  }

  .prioridade-tarefa,
  .categoria-tarefa {
    margin-left: 0;
  }

  .lista-tarefas {
    display: flex;
    align-items: center;
  }

  .criar-tarefa button {
    margin-top: 32px;
  }

  .card-descricao {
    margin-top: 30px;
  }

  .icone-checked,
  .icone-unchecked {
    margin-right: 25%;
  }
}

@media (max-width: 504px) {
  .botoes-form {
    flex-direction: column;
  }
}
