<section class="criar-tarefa">
  <div class="botao-criar">
    <button (click)="mostrarOuEsconderFormulario()">Criar nova tarefa</button>
  </div>
  @if (formAberto()) {
  <form class="formulario ff-prompt" [formGroup]="formulario" @shownState>
    <label for="descricao">Descrição da tarefa</label>
    <input
      required
      type="text"
      id="descricao"
      formControlName="descricao"
      placeholder="Digite a tarefa"
      [ngClass]="campoValidado('descricao')"
    />
    @if (formulario.get('descricao')?.invalid && formulario.get('descricao')?.touched) {
    <app-mensagem mensagemValidacao="Preencha a descrição"> </app-mensagem>
    }
    <label for="prioridade">Prioridade</label>
    <select required id="prioridade" formControlName="prioridade" [ngClass]="campoValidado('prioridade')">
      <option disabled value="">Selecione</option>
      <option value="Alta">Alta</option>
      <option value="Normal">Normal</option>
      <option value="Baixa">Baixa</option>
    </select>
    @if (formulario.get('prioridade')?.invalid && formulario.get('prioridade')?.touched) {
    <app-mensagem mensagemValidacao="Escolha a prioridade"> </app-mensagem>
    }
    <label for="categoria">Categoria</label>
    <select required id="categoria" formControlName="categoria" [ngClass]="campoValidado('categoria')">
      <option disabled value="">Selecione</option>
      <option value="Casa">Casa</option>
      <option value="Trabalho">Trabalho</option>
      <option value="Estudos">Estudos</option>
    </select>
    @if (formulario.get('categoria')?.invalid && formulario.get('categoria')?.touched) {
    <app-mensagem mensagemValidacao="Escolha a categoria"> </app-mensagem>
    }
    <div class="botoes-form">
      <button (click)="salvarTarefa()" class="botao-form" [ngClass]="habilitarBotao()" [disabled]="!formulario.valid">
        Salvar
      </button>
      <button (click)="cancelar()" class="botao-form botao-cancelar">Cancelar</button>
    </div>
  </form>
  }
</section>
<section class="listagem-tarefas">
  @if (!formAberto()) {
  <div class="ilustracao">
    <h2>Suas tarefas</h2>
    <img
      src="imagens/ilustracao-Tarefas.png"
      alt="Ilustração de um ambiente com mesa, computador, quadro e um vaso com planta"
    />
  </div>
  <div class="busca">
    <p class="ff-prompt">Procurando o que fazer?</p>
    <input
      type="search"
      id="campo-busca"
      placeholder="Buscar..."
      [formControl]="campoBusca"
      (keyup)="filtrarTarefas()"
    />
  </div>
  } @if (tarefasFiltradas().length > 0) {
  <div>
    @for (tarefa of tarefasFiltradas(); track tarefa.id; let i = $index) {
    <div
      class="lista-tarefas card-{{ tarefa.categoria }}"
      (mouseover)="indexTarefa = i"
      [@highlightedState]="indexTarefa === i ? 'highlighted': 'default'"
    >
      <div class="info-card">
        <p class="categoria-tarefa categoria-{{ tarefa.categoria }}">
          <img src="icones/{{ tarefa.categoria }}.png" alt="Ícone de {{ tarefa.categoria }}" />
          {{ tarefa.categoria }}
        </p>
        <p class="prioridade-tarefa prioridade-{{ tarefa.prioridade }}">{{ tarefa.prioridade }}</p>
        <p class="status-tarefa">
          <button
            [ngClass]="(tarefa.statusFinalizado == true) ? 'icone-checked' : 'icone-unchecked'"
            (click)="finalizarTarefa(tarefa.id);"
            [@checkButton]="(tarefa.id === id() ? 'checked' : 'unchecked')"
          ></button>
        </p>
      </div>
      <div class="conteudo">
        <p
          class="card-descricao ff-prompt
          card-{{ tarefa.statusFinalizado ? 'Feito' : '' }}"
        >
          {{ tarefa.descricao }}
        </p>
        <div class="botoes-card">
          <button class="botao-editar" (click)="carregarParaEditar(tarefa.id)">
            <img src="icones/icone-editar.png" alt="Ícone de editar" />
          </button>
          <button (click)="excluirTarefa(tarefa.id)" class="botao-deletar">
            <img src="icones/icone-excluir.png" alt="Ícone de excluir" />
          </button>
        </div>
      </div>
    </div>
    }
  </div>
  } @else {
  <p class="ng-template ff-prompt">Olá! Ainda não há tarefas por aqui! :)</p>
  }
</section>
