.formTriggerEnter {
  animation: fadeInForm 600ms ease forwards;
}

.formTriggerLeave {
  animation: fadeOutForm 120ms ease forwards;
}

@keyframes fadeInForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutForm {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* using .lista-tarefas.filterTriggerEnter provides sufficient specificity to override .toHighlightedState */
.lista-tarefas.filterTriggerEnter {
  transform-origin: left;
  animation: fadeInFilter 700ms cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* using .lista-tarefas.filterTriggerLeave provides sufficient specificity to override .toHighlightedState */
.lista-tarefas.filterTriggerLeave {
  transform-origin: left;
  animation: fadeOutFilter 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fadeInFilter {
  0% {
    opacity: 0;
    transform: scaleX(0);
    background-color: yellow;
  }
  10% {
    opacity: 0.5;
    transform: scaleX(0.9);
    background-color: red;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fadeOutFilter {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  10% {
    opacity: 0.5;
    transform: scaleX(0.9);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

.noTasksEnter {
  animation: slideInNoTasks 500ms;
}

.noTasksLeave {
  animation: slideOutNoTasks 500ms;
}

@keyframes slideInNoTasks {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutNoTasks {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.shakeTrigger {
  border: 2px solid red;
  animation: shakeAnimation 750ms;
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-15px);
  }
  20% {
    transform: translateX(15px);
  }
  30% {
    transform: translateX(-15px);
  }
  40% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(15px);
  }
  70% {
    transform: translateX(-15px);
  }
  80% {
    transform: translateX(15px);
  }
  90% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

.listStateEnter {
  animation: slideInListState 600ms ease-out backwards;
  animation-delay: calc(var(--i) * 200ms);
}

@keyframes slideInListState {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
