.ilustracao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tasks-area {
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

:host {
  --borderDefaultState: 2px solid #b2b6ff;
  --borderHighlightedState: 4px solid #b2b6ff;
  --filterHighlightedState: brightness(104%);
  --transformHighlightedState: scale(1.01);
  --highlighting: 200ms cubic-bezier(0.63, 0.14, 0.6, 1.35);
}

.lista-tarefas {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 8px;
  border: var(--borderDefaultState);
  transition:
    border var(--highlighting),
    filter var(--highlighting),
    transform var(--highlighting);
}

.lista-tarefas:hover {
  border: var(--borderHighlightedState);
  filter: var(--filterHighlightedState);
  transform: var(--transformHighlightedState);
}

.card-Estudos {
  background: #f9f0ff;
}

.card-Trabalho {
  background: #e9f7ff;
}

.card-Casa {
  background: #e7e8ff;
}

.card-Feito {
  text-decoration: line-through;
}

.corpo-lista-tarefas {
  min-height: 80vh;
  position: relative;
  overflow-x: hidden;
}

.corpo-lista-tarefas h2 {
  font-size: 32px;
  font-family: "Prompt";
  font-weight: 400;
  line-height: 48px;
}
