.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffe4d6;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  padding: 24px;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 32px;
}

.formulario label {
  padding-bottom: 4px;
}

.form-tarefa {
  font-family: "Prompt";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #7b6c7d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 40px;
  padding-left: 8px;
  text-decoration: none;
}

.input-invalido {
  border-color: red !important;
  margin-bottom: 0 !important;
}

.botoes-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botao-form {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 94px;
  height: 40px;
  margin-bottom: 0;
}

.botao-salvar {
  background: #63b77c;
}

.botao-cancelar {
  background: #f89185;
}

.botao-desabilitado {
  background: #6c757d;
  cursor: default;
}

option:disabled {
  color: #6c757d;
}
